*.idea

*.ipynb
!**/bugs.ipynb
!/example_usage.ipynb

**/__pycache__
__deprecated.py

**/strategies/
!**/strategies/sample.py
!**/strategies/README.txt

/data/ml_datasets/
!/data/ml_datasets/README.txt

/data/test_results/